<section class="widget">
    <div class="control-group">
        <label for="grid-question-type" class="control-label">Grid Question Type: </label>
        <select
            chosen
            allow-single-deselect="true"
            class="select2-container select-block-level"
            data-placeholder="Select a question type..."
            no-results-text="'This does not match a valid question type'"
            name="question-type"
            ng-model="grid.question_type"
            ng-options="question_type as question_type for question_type in gridQuestionTypes"
            ></select>
        </div>
    <div class="control-group">
        <label for="grid-name" class="control-label">Grid Name: </label>
        <input type="text" class="form-control" name="name" ng-model="grid.name">
    </div>
    <fieldset ng-controller="GridLabelsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>, grid.id)">
        <legend class="section">Grid Option Labels
            <button type="submit" ng-click="addGridLabel()" class="btn btn-xs btn-primary pull-right">
              <i class="icon-plus"></i> Add Option Label
            </button>
        </legend>
        <div class="controls form-group">
            <ol>
                <li ng-repeat="grid_label in grid_labels">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="grid_label.label" autofocus="autofocus">
                        <div class="input-group-btn">
                            <button ng-click="removeGridLabel(grid_label)" class="btn btn-danger">
                                <i class="icon-trash"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </fieldset>
    <div class="row">
        <button class="btn btn-success pull-right" type="submit" ng-click="saveGrid(grid)">Save Grid</button>
    </div>
</section>
