
<div class="content container">

  <div class="row">
    <div class="col-md-12">
      <!--<h2 class="page-title"> Number of responses per survey </h2>-->
    </div>
  </div>

  <div class="row">
    <%= render partial: 'graphs/partials/instruments_bars' %>
  </div>

  <div class="row">
     <%= render partial: 'graphs/partials/daily' %>
  </div>

</div>

<%#= javascript_include_tag 'scripts/bars' %>
<%#= javascript_include_tag 'scripts/daily_responses' %>
