<!DOCTYPE html>
<html>
<head> </head>

<body>
<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title"> Bar Chat </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-6">
      <section class="widget large">
        <div id="survey-bar-chart" class="body chart">
          <!-- <svg></svg>  -->
        </div>
        <div id="survey-bar-chart-x" style="left: 40px; position: relative; color: #000000; font-weight: bold; font-size: 20"> </div>
      </section>
      <div id="bar-responses" style="visibility: hidden">
        <%= @counts %>
      </div>
    </div>
  </div>
</div>
</body>

<script>

    $(function(){
        var xAxisLabels;
        var seriesData = [[]];
        var labels = [];
        var myArrayString = $("#bar-responses").text();
        myArrayString = myArrayString.trim();
        var myArray = myArrayString.split(",");

        for (var k = 0; k < myArray.length; k++){
            myArray[k].replace("");
            var myString = myArray[k].replace("{","");
            myString = myArray[k].replace("}","");
            myString = myArray[k].replace("[","");
            myString = myArray[k].replace("[","");
            var myStringArray = myString.split("=>");
            seriesData[0].push({x: k, y: parseInt(myStringArray[1]) });
            myStringArray[0].trim();
            labels[k] = myStringArray[0].substr(1);
        }

        var testElement = document.getElementById("survey-bar-chart");
        console.log(testElement);
        console.log("is it null?");

        var barGraph;
        try {
            barGraph = new Rickshaw.Graph({
                element: document.getElementById("survey-bar-chart"),
                height: 300,
                renderer: 'bar',
                series: [
                    {
                        color: "blue",
                        data: seriesData[0]
                    }
                ]
            });
            barGraph.render();
        }
        catch(err) {

        }
        xAxisLabels = function (n) {
            var map = { };
            for (var i = 0; i < labels.length; i++) {
                map[i] = labels[i];
            }
            return map[n];
        };

        var xAxisBar;
        xAxisBar = new Rickshaw.Graph.Axis.X({
            graph: barGraph,
            element: document.getElementById("survey-bar-chart-x"),
            tickFormat: xAxisLabels
        });
        xAxisBar.render();

    });
</script>

</html>