<!DOCTYPE html>
<html>
<head> </head>

<body>
<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title"> Bar Chat </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-6">
      <section class="widget large">
        <div id="survey-bar-chart-y" style="left: 0px; position: absolute; color: #000000; width: 20px"> </div>
        <div id="survey-bar-chart" class="body chart">
          <!-- <svg></svg>  -->
        </div>
        <div id="survey-bar-chart-x" style="left: 40px; position: relative; color: #000000; font-weight: bold; font-size: 20"> </div>
      </section>
      <div id="bar-responses" style="visibility: hidden">
        <%= @counts %>
      </div>
    </div>
  </div>
</div>
</body>

<%= javascript_include_tag 'scripts/bars' %>

</html>