<section class="widget" ng-controller="GraphsCtrl" ng-init="initialize(<%= current_project.id %>)">
  <header>
    <h4><i class="icon-calendar"></i> Response count per day for project <b> <%= current_project.name %> </b> </h4>
  </header>
  <div class="body">
    <sc-Daily-Responses val="data"> </sc-Daily-Responses>
  </div>
</section>
