<section class="widget" ng-view ng-controller="GraphsCtrl">
  <header>
    <h4><i class="icon-calendar"></i> Response count per day </h4>
  </header>
  <div class="body">
    <sc-Daily-Responses val="responses"> </sc-Daily-Responses>
  </div>
</section>
