<section class="widget" ng-controller="DailyGraphCtrl" ng-init="initialize(<%= current_project.id %>)">
  <header>
    <h4><i class="icon-calendar"></i> Response count per day for project <%= current_project.name %> </h4>
  </header>
  <div class="body">
    <sc-Daily-Responses style="height: 400px" val="dayData"> </sc-Daily-Responses>
  </body>
  <header>
    <h4><i class="eicon-clock"></i> Response count per hour for project <%= current_project.name %> </h4>
  </header>
  <div class="body">
    <sc-Hourly-Responses val="hourData"></sc-Hourly-Responses>
  </div>
</section>
