<!--
<section class="widget" ng-controller="HourlyGraphCtrl" ng-init="initialize(<%= current_project.id %>)">
  <header>
    <h4> Response count per hour for project <%= current_project.name %> </h4>
  </header>
  <div class="body">
      <nvd3-line-chart
        data="lineData"
        showXAxis="true"
        showYAxis="true"
        tooltips="true"
        interactive="true">
      </nvd3-line-chart>
  </div>
</section>