<section class="widget">
    <div ng-controller="GraphCtrl" ng-init="initialize(<%= current_project.id %>)">
        <sc-Line-Chart chart="chart" class="line-chart"> </sc-Line-Chart>
    </div>  
</section>