<section class="widget">
    <header>
        Does PubSub work?
    </header>
    <div class="body">
        <table id="responses">
                <tr>
                    <td>Response Count: <%= @responses.count %> </td>
                </tr>
        </table>
    </div>
    
    <!-- Line Chart -->
    <div class="row-fluid" ng-controller="GraphCtrl" ng-init="initialize(<%= current_project.id %>)">
        <div class="span8">
            <h2>Realtime Line Chart</h2>
            <sc-Line-Chart chart="chart" class="line-chart"> </sc-Line-Chart>
        </div>
    </div>
    
</section>

<script type="text/javascript" charset="utf-8">
$(function(){
  /*
  var socket = io.connect('//localhost:3001/');
  var redisConn = $redis.createClient();
  redisConn.subscribe('responses-create');

  redisConn.on('message', function (data) {
    data = JSON.parse(data);
    console.log(data);
*/
    var data = undefined
    io.sockets.on('connection', function (socket) {
    // subscribe to redis
    var subscribe = redis.createClient();
    subscribe.subscribe('responses-create');

    // relay redis messages to connected socket
    subscribe.on("message", function(channel, message) {
        //console.log("from rails to subscriber:", channel, message);
        //socket.emit('message', message)
        data = JSON.parse(data);
        console.log(data);
    });

    // unsubscribe from redis if session disconnects
    socket.on('disconnect', function () {
        console.log("user disconnected");
        subscribe.quit();
    });
});

    var response = $("<tr/>", {
      html: $("<td/>", { text: data.survey_uuid })
    });
    $('#responses').append(response)

 // });

});
</script>