<!DOCTYPE html>
<html>
<head> </head>

<body>
  <div class="row">
      <h2 class="page-title"> Realtime Survey Data </h2>
  </div>

    <div class="row">
      <h4> Number of responses per survey </h4>
      <%= render partial: 'graphs/partials/survey_counts' %>
   </div>

    <div class="row">
      <h4> Number of responses per hour </h4>
      <%= render partial: 'graphs/partials/hourly' %>
    </div>
</body>

</html>