<!DOCTYPE html>
<html>
<head> </head>

<body>
<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Realtime Survey Data </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset1">
      <section class="widget">
        <header>
          <h4>
            Data for survey named XXX
          </h4>
        </header>
        <div class="body row">
          <div class="col-sm-2">
            <div id="legend"></div>
          </div>
          <div class="col-sm-10" id="chart-container">
            <div id="survey-realtime-chart" style="height: 300px;">

            </div>
            <div id="timeline"></div>
          </div>
          <div id="num-responses" style="visibility: hidden">
            <%= @count %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div id="my-data">

</div>
</body>

<%= javascript_include_tag 'scripts/realtime' %>

</html>