
<div class="row">
  <div class="col-sm-2">
    <div id="line-legend"></div>
  </div>
  <div class="col-md-10">
    <section class="widget large">
      <div id="survey-line-chart" class="body chart"> </div>
      <div id="survey-line-chart-x" style="left: 40px; position: relative; color: #000000; font-weight: bold; font-size: 20"> </div>
    </section>
  </div>
</div>

<div class="row" id="survey-line-data" style="visibility: hidden"> <%= @responses %> </div>

<%= javascript_include_tag 'scripts/hourly' %>
