<h2 class="page-title"> Number of responses per survey </h2>
<div class="col-md-9">
  <section class="widget large">
    <div id="survey-bar-chart-y" style="left: 0px; position: absolute; color: #000000; width: 20px"> </div>
    <div id="survey-bar-chart" class="body chart">

    </div>
    <div id="survey-bar-chart-x" style="left: 40px; position: relative; color: #000000; font-weight: bold; font-size: 20"> </div>
  </section>
  <div id="bar-responses" style="visibility: hidden">
    <%= @counts %>
  </div>
</div>
<div class="col-md-3">
  <h4> <b> Summary statistics </b> </h4>
  <table>
    <% @summary_statistics.each do |stat, value| %>
        <tr>
          <td> <%= stat %> </td>
          <td> <%= value %> </td>
        </tr>
    <% end %>
  </table>
</div>

<%= javascript_include_tag 'scripts/bars' %>