
<div class="row">
  <div class="col-md-2" id="legend"> </div>
  <div class="col-md-10">
    <section class="widget">
      <div id="survey-realtime-chart" style="height: 300px;"> </div>
      <div id="timeline"> </div>
    </section>
  </div>
</div>

<div id="num-responses" style="visibility: hidden">
  <%= @count %>
</div>

<div id="my-data"> </div>

<%= javascript_include_tag 'scripts/realtime' %>