<section class="widget">
  <header>
    <h4><i class="icon-folder-open"></i> Projects </h4>
  </header>

  <div class="body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>

      <tbody>
      <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.name, project %></td>
            <td><%= project.description %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
