<section class="widget" ng-controller="ProjectsCtrl">
  <header>
    <h3><i class="icon-folder-open"></i> Projects </h3>
    <div class="actions hidden-xs-portrait">
      <%= link_to new_project_path, class: 'btn btn-primary' do %>
          <i class="icon-plus"></i> New Project
      <% end %>
    </div>
  </header>

  <div class="body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Instruments</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="project in projects">
        <!-- <td><a ng-click="viewProject(project.id)">{{project.name}}</a></td> -->
        <td><a href="/projects/{{project.id}}">{{project.name}}</a></td>
        <td>{{project.description}}</td>
        <td> <a ng-click="viewInstruments()">Instruments</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>