<h1><%= current_project.name %> </h1>

<section class="widget">
  <header>
    <div class="actions hidden-xs-portrait">
      <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
          <i class="icon-edit"></i> Edit Project
      <% end %>
    </div>
  </header> <br />

  <div>
    <strong>Description:</strong> <br />
    <p> <%= @project.description %> </p>
  </div>

</section>

<%= render 'instruments/index' %>
