<h1><%= @instrument_version.title %></h1>

<section class="widget">
  <div class="body">
    <ol class="questions">
      <% @instrument_version.questions.each do |question| %>
        <li>
          <%= question.text %> <br />
          <span class="label label-info"><%= question.question_type %></span>
          <% if question.has_options? %>
            <br />Options:
            <ol class="options" start="0">
              <% question.options.each do |option| %>
                <li><%= option.text %></li>
              <% end %>
            </ol>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</section>
