<h1><%= @instrument_version.title %></h1>

<section class="widget">
  <div class="body">
    <ol class="questions">
      <% @instrument_version.questions.each do |question| %>
        <% next unless @version.versioned(question) %>
        <li>
          <%= @version.versioned(question).text %> <br />
          <span class="label label-info"><%= @version.versioned(question).question_type %></span>
          <% unless @version.versioned(question).options.empty? %>
            <br />Options:
            <ol class="options" start="0">
              <% @version.versioned(question).options.each do |option| %>
                <% next unless @version.versioned(option) %>
                <li><%= @version.versioned(option).text %></li>
              <% end %>
            </ol>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</section>
