/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ../../../vendor/assets/lib/nvd3/src/nv.d3
 *= require ../../../vendor/assets/stylesheets/loading-bar
 *= require ../../../vendor/assets/stylesheets/nv.d3
 *= require ../../../vendor/assets/stylesheets/xeditable.css
 *= require bootstrap-original/bootstrap
 *= require bootstrap-original/responsive
 *= require font-awesome-4.0.3/css/font-awesome.min
 *= require fontello/css/fontello
 *= require lib/bootstrap-switch
 *= require chosen
 *= require instruments
 *= require graphs
 *= require application.commented
 */

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }
ul.squares { list-style: square }
li.active-result { color:#333; }
table.fixed-wide {
  table-layout: fixed;
  width: 100%
}
