/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ../../../vendor/assets/lib/nvd3/src/nv.d3
 *= require ../../../vendor/assets/stylesheets/loading-bar
 *= require ../../../vendor/assets/stylesheets/nv.d3
 *= require ../../../vendor/assets/stylesheets/xeditable.css
 *= require bootstrap-original/bootstrap
 *= require bootstrap-original/responsive
 *= require font-awesome-4.0.3/css/font-awesome.min
 *= require fontello/css/fontello
 *= require lib/bootstrap-switch
 *= require chosen
 *= require instruments
 *= require graphs
 *= require application.commented
 */

.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }
ul.squares { list-style: square }
li.active-result { color:#333; }
table.fixed-wide {
  table-layout: fixed;
  width: 100%
}

.pagination-wrapper {
width: 600px; 
margin: 0 auto;
}

.pagination {
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #9bd0f6;
    border: 1px solid #9aafe5; }
  .pagination a:hover, .pagination a:focus {
    background: white;
    color: #000044;
    border-color: #000044; }
.pagination .pagination_links {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
  .pagination .page_info {
    margin: 0 auto;
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em; }
  .pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }
