// Place all the styles related to the instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ol.questions { list-style: decimal; padding-left: 40px; }
ol.options { list-style: square; padding-left: 40px;}
div.follow-up-question { display: none }
div.follow-up-explanation { display: none }

.ta-editor {
  min-height: 200px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.copy-box {
  margin-top: 30px;
  margin-bottom: 5px;
}
