<section class="widget" ng-controller="InstrumentsCtrl" ng-init="initialize(<%= current_project.id %>)">
  <header>
    <h4><i class="icon-edit"></i> Instruments</h4>
    <div class="actions hidden-xs-portrait">
      <%= link_to new_project_instrument_path(current_project), class: 'btn btn-primary' do %>
          <i class="icon-plus"></i> New Instrument
      <% end %>
    </div>
  </header>
  <div class="body">
    <input type="search" ng-model="q.title" placeholder="Filter instruments..." class="form-control top-buffer">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Instrument Id</th>
        <th>Current Version</th>
        <th># questions</th>
        <th>Created at</th>
        <th>Last updated</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="instrument in instruments | filter:q">
        <td><a href="/projects/<%= current_project.id %>/instruments/{{instrument.id}}">{{instrument.title}}</a></td>
        <td>{{instrument.id}}</td>
        <td>{{instrument.current_version_number}}</td>
        <td>{{instrument.question_count}}</td>
        <td>{{instrument.created_at | date:'short'}}</td>
        <td>{{instrument.updated_at | date:'short'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
