<div class="body tab-content">
<div class="tab-general tab-pane active">
  <form class="form-horizontal label-left" name="question_form" id="question_form" novalidate>
    <fieldset>
      <div class="control-group">
        <label for="question-identifier" class="control-label">Question Identifier</label>
        <div class="controls form-group">
          <input type="text" class="form-control" name="question-identifier" ng-model="question.question_identifier" required>
        </div>
        <label for="question-type" class="control-label">Question Type</label>
        <div class="controls form-group">
          <select
          chosen
          class="select2-container select-block-level"
          data-placeholder="Select a question type..."
          no-results-text="'This does not match any valid question type'"
          name="question-type"
          id="question-type"
          ng-model="question.question_type"
          ng-options="type for type in questionTypes()"
          required
          >
          </select>
        </div>
        <% if @instrument.show_instructions %>
          <label for="instructions" class="control-label">Instructions</label>
          <div class="controls form-group">
            <div text-angular="text-angular" id="text-angular-content" rows="4" ta-toolbar="[['bold','italics','underline','insertLink'],['redo','undo','clear'],['html'], ['insertImage']]" ng-model="question.instructions"></div>
          </div>
        <% end %>
        <label for="content" class="control-label">Content</label>
        <div class="controls form-group">
          <div text-angular="text-angular" id="text-angular-content" rows="4" ta-toolbar="[['bold','italics','underline','insertLink'],['redo','undo','clear'],['html'], ['insertImage']]" ng-model="question.text"></div>
        </div>
        <div ng-controller="FileUploadCtrl" ng-init="initialize(<%= @project.id %>, <%= @instrument.id %>, question.id)">
          <div ng-show="questionTypesWithImages(question.question_type)">
          <label for="content" class="control-label">Images</label> </br>
           <div ng-show="uploader.isHTML5">
              <input ng-file-select type="file" multiple/>
            </div>       
            <div>If image uploader is not visible, save question first</div>
            <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td>
                        <strong>{{ item.file.name }}</strong>
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 100 }"></div>
                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="eicon-check"></i></span>
                        <span ng-show="item.isCancel"><i class="eicon-cancel"></i></span>
                        <span ng-show="item.isError"><i class="eicon-trash"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="eicon-upload-cloud"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="eicon-cancel"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="eicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-repeat="img in images">
            <div ng-class-odd="'odd'" ng-class-even="'even'">
                <div class="col-md-6">
                    <b>{{img.photo_file_name}}</b></br>
                    <img ng-src="{{img.photo_url}}"></img> </br>
                    <button ng-click="deleteImage(img)" class="btn btn-danger">Delete image</button>
                </div>
            </div>
         </div>
      </div>
          
        </div>
        <div ng-show="questionTypesWithOptions(question.question_type)">
          <div>
            <fieldset>
              <legend class="section">
                Options
                <button type="submit" ng-click="addOption()" class="btn btn-xs btn-primary pull-right">
                  <i class="icon-plus"></i> Add Option
                </button>
              </legend>
              <div class="controls form-group">
                <ol>
                  <li ng-repeat="option in options">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="option.text" autofocus="autofocus">
                      <div class="input-group-btn">
                        <button ng-click="removeOption(option)" class="btn btn-danger">
                          <i class="icon-trash"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
