<div class="tab-copy tab-pane">
    <fieldset>
        <legend class="section">Instruments to copy questions to</legend>
        <p class="text-muted">Check the instruments that you want to copy questions to.</p>
        <div class="controls form-group">
            <div class="checkbox" ng-repeat="inst in instruments">
                <label> <input type="checkbox" ng-model="inst.checked"></input> {{ inst.title }} </label>
            </div>
        </div>
        <legend class="section">Questions to be copied</legend>
        <p class="text-muted">Check the questions that you want copied to the instruments checked above</p>
        <div class="controls form-group">
            <div class="checkbox col-md-6" ng-repeat="quest in all_questions">
                <label> <input type="checkbox" ng-model="quest.checked"></input> {{ quest.question_identifier }} </label>
            </div>
        </div>
    </fieldset>
    <div ><a class="btn btn-success" id="copy-questions" ng-click="copyQuestions()">Copy Questions</a></div>
</div>