<body class="background-dark">
<% if user_signed_in? %>
    <div class="logo">
      <h4><%= link_to 'Rails Survey', root_path %></h4>
    </div>

    <%= render 'layouts/sidebar' if current_project %>

    <div class="wrap">
      <header class="page-header">
        <div class="navbar">
          <ul class="nav navbar-nav navbar-right pull-right">
            <li class="hidden-xs">
              <%= button_to destroy_user_session_path, :method => :delete, class: 'btn btn-default' do %>
                  <i class="icon-signout"></i>
              <% end %>
            </li>
          </ul>
          <div class="notifications pull-right">
            <div class="alert pull-right">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <i class="icon-info-sign"></i> Currently logged in as <%= current_user.email %>
            </div>
          </div>
        </div>
      </header>
<% end %>
