<div id="wysihtml5-toolbar"> <!-- style="display: none;" -->
  <a class='btn btn-default btn-sm' data-wysihtml5-command='bold' title='CTRL+B'><i class='icon-bold'></i></a>
  <a class='btn btn-default btn-sm' data-wysihtml5-command='italic' title='CTRL+I'><i class='icon-italic'></i></a>
  <a class='btn btn-default btn-sm' data-wysihtml5-command='underline' title='CTRL+U'><i class='icon-underline'></i></a>
  <!-- <a class='btn btn-default btn-sm' data-wysihtml5-command="createLink"><i class='icon-share'></i></a>
   <div data-wysihtml5-dialog="createLink" style="display: none;">
     <label>
       Link:
       <input data-wysihtml5-dialog-field="href" value="http://" class="text">
     </label>
     <a data-wysihtml5-dialog-action="save"><i class="icon-save"></i></a>
     <a data-wysihtml5-dialog-action="cancel"><i class="eicon-cancel"></i></a>
   </div> -->
</div>